@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=PT+Sans&family=Poppins&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

h1, h2 {
    color: #5A5353;
}

h2, .card-title{
    color: #5A5353 !important;  
}
p, li {
    color: #7B7070;
    font-size: 15px;
}

h5 {
    font-size: 18px;
}

.fw-semibold {
    font-weight: 500!important;
}
.cardshadow {
    box-shadow: 2px 2px 5px 2px lightgray;
}

.hrline {
    border-bottom: 3px solid lightgray;
    margin-bottom: 30px;
    padding-bottom: 15px;
}
.buttoncolor {
    background: #56C2FF;
    border: none;
    padding: 6px;
    padding-left: 13px;
    width: 150px;
    color: white;
    text-align: left;
}
/* .titleofbox {
    color: #5A5353;
} */